&lt;h4&gt;Primary&lt;/h4&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #007c47;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;green&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #7f1160;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;purple&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fe9019;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;orange&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #E71951;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;red&lt;/span&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;Secondary&lt;/h4&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fee967;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;yellow&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #10d599;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;mint&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fff;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;white&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;black&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #646464;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-med&lt;/span&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;
&lt;h4&gt;Shades&lt;/h4&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #808080;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f9f9f9;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-light&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #eee;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-light-2&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ddd;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-light-3&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #bbb;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-light-4&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #646464;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-med&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #333;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-dark&lt;/span&gt;
&Tab;&lt;/li&gt;
&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #131313;&quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label&quot;&gt;grey-dark-2&lt;/span&gt;
&Tab;&lt;/li&gt;
&lt;/ul&gt;
