/* Global Font Classes */
.font-secondary {
	font-family: $font-secondary;
}

/* Text color overrides */
/* Primary */
.text-green {
	color: $green;
}

.text-purple {
	color: $purple;
}

.text-orange {
	color: $orange;
}

.text-red {
	color: $red;
}

/* Secondary */
.text-yellow {
	color: $yellow;
}

.text-mint {
	color: $mint;
}

.text-white {
	color: $white;
}

.text-black {
	color: $black;
}

.text-grey-med {
	color: $grey-med;
}

/* Shades */
.text-grey-light {
	color: $grey-light;
}

.text-grey-light-2 {
	color: $grey-light-2;
}

.text-grey-light-3 {
	color: $grey-light-3;
}

.text-grey-light-4 {
	color: $grey-light-4;
}

.text-grey-dark {
	color: $grey-dark;
}

.text-grey-dark-2 {
	color: $grey-dark-2;
}

//Intro text
.intro {
	font-size: $font-size-slightly-larger;
	font-weight: bold;
}

//Pullquote
.pullquote {
	font-family: $font-secondary;
	font-size: $font-size-large;
}

//Text Passages
.text {
	a {
		text-decoration: underline;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space 1.2em;

		ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space 1.2em;

		ol {
			margin-bottom: 0;
		}
	}
}

/* Review Grade Tile */
.grade {
	display: block;
	font-weight: bold;
	background: $grey;
	color: $white;
	min-height: 4.5rem;
	padding-top: 1.5rem;
	text-align: center;
}

/* Eyebrow */
.eyebrow {
	background: $grey-dark;
	color: $white;
	padding: 0.2em;
	display: inline-block;
	margin-bottom: $space-half;
}

.eyebrow-image {
	position: relative;

	img {
		position: relative;
		z-index: 0;
	}

	.eyebrow {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}
