/* Text-Related Elements */
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-style:italic;
    border-left: 1px solid $grey;
    color: $grey;
	padding-left: $pad;
	margin-bottom: $space;
}

/* Horizontal Rule */
hr {
	border: 0;
    height: 2px;
    background: $grey-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $grey;
    cursor: help;
}

code {
	padding: 2px 4px;
    font-size: 90%;
    color: $error;
    background-color: $grey-light;
    border-radius: 0;
}
