<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fe9019;"></span>
		<span class="sg-label">#fe9019</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fee967;"></span>
		<span class="sg-label">#fee967</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7f1160;"></span>
		<span class="sg-label">#7f1160</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #10d599;"></span>
		<span class="sg-label">#10d599</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007c47;"></span>
		<span class="sg-label">#007c47</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #646464;"></span>
		<span class="sg-label">#646464</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>